@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --clr-v-dark-greyish-blue: hsl(217, 19%, 35%);
  --clr-d-dark-blue: hsl(214, 17%, 51%);
  --clr-greyish-blue: hsl(212, 23%, 69%);
  --clr-light-greyish-blue: hsl(210, 46%, 95%);

  --fs: 13px;
}

body {
  font-family: 'Manrope', sans-serif;
  display: flex;
  min-height: 100vh;
  place-content: center;
  background-color: var(--clr-light-greyish-blue);
}

.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-width: 730px;
  max-height: 280px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
}

.drawers {
  width: 285px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--clr-v-dark-greyish-blue);
}

.content {
  padding: 30px;
}

.content p {
  font-size: 13px;
  margin: 0;
  color: var(--clr-v-dark-greyish-blue);
}

.share-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-right: 20px;
}

.share-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light-greyish-blue);
  border-radius: 50px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.share-icon:hover {
  background-color: var(--clr-v-dark-greyish-blue);
  fill: #fff;
}

.name-info {
  margin-right: 175px;
  color: var(--clr-d-dark-blue);
}

.person-name {
  font-weight: 700;
  color: var(--clr-v-dark-greyish-blue);
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.popup-container {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

.popup {
  display: none;
  /* display: flex; */
  flex-direction: row;
  width: 250px;
  background-color: var(--clr-d-dark-blue);
  color: #fff;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  padding: 10px 5px;
  margin-left: 262px;
  left: 63%;
  bottom: 42%;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.popup::after {
  content: '';
  position: absolute;
  left: 48%;
  bottom: -33%;
  margin-left: -34px;
  border-width: 11px;
  border-style: solid;
  border-color: var(--clr-d-dark-blue) transparent transparent transparent;
}

.popup span {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
}

.popup span p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 8px;
  color: var(--clr-greyish-blue);
  margin-left: 15px;
}

.popup img {
  margin-left: 10px;
  margin-right: 5px;
}

.popup .show {
  visibility: show;
  display: flex;
  /* -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; */
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
