@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --clr-v-dark-greyish-blue: hsl(217, 19%, 35%);
  --clr-d-dark-blue: hsl(214, 17%, 51%);
  --clr-greyish-blue: hsl(212, 23%, 69%);
  --clr-light-greyish-blue: hsl(210, 46%, 95%);

  --fs: 13px;
}

body {
  font-family: 'Manrope', sans-serif;
}
